<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: pmaHeader"></head>

<body>
	
	<nav th:replace = "layouts :: pmaNavbar"></nav>
	
	<div class="container">
		<br>
		
		<h4>Current Projects</h4>
		
		<div th:replace = "layouts :: pmaGenericAlert"></div>
		
		<hr>
		
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">New Project</a>
		
		<a th:href="@{/projects/timelines}" class="btn btn-primary btn-sm mb-3">Project Timelines</a>
		
		<div th:replace = "layouts :: pmaProjectTableAllEditPaginated"></div>
		
	</div>
	
	<!-- <footer th:replace = "layouts :: pmaFooter"></footer> -->
	
</body>

</html>